<!DOCTYPE html> 
<html lang="en">
	<head>
		<title>. : : Cloak : : .</title>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">

		<!-- {% load staticfiles %} -->
		<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap-theme.css" %}"> 
		<link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.css" %}">

		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.structure.min.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "css/jquery-ui.theme.min.css" %}">


		<link rel="stylesheet" type="text/css" href="{% static "css/main.css" %}">
		<script type="text/javascript" src="{% static "js/jquery-2.1.1.min.js" %}"></script>
		<script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
		<script type="text/javascript" src="{% static "bootstrap/js/bootstrap.js" %}"></script>
		<script type="text/javascript" src="{% static "js/main.js" %}"></script>
		<script type="text/javascript" src="{% static "js/filters.js" %}"></script> 
	</head>
	
	<body>
		
		<div id="wrapper">
			
			<!-- HEADER -->
			<header>
				<span id="logo"></span><span id="logo_title">cloak</span>


				{% if user.is_authenticated %}
				    <span id="login_navigation"><a href="#">{{user.username}}</a> | <a href="logout">Logout</a></span>
				{% else %}
				    <span id="login_navigation">
					    <form id="login_form" method="POST" action="login">
					    	{% csrf_token %}
							<input class="btn btn-default" type="submit" value="Go!"></input>
			        		<input type="password" class="form-control" name="password" placeholder="Password">
			        		<input type="text" class="form-control" name="username" placeholder="Username">	
						</form>	
					| <a href="#">Sign Up</a></span>
				{% endif %}	

			</header>	

			<!-- ALERTS -->
			<section id="alert_container">
				<section id="alert" class="alert alert-info" role="alert">This is a stub alert. Wohoo!!!</section>	
			</section>
			

			<div id="image_controls" class="col-xs-12 col-sm-12 col-md-5">				
				<!-- upload file -->
				<label class="fileContainer">
				    Click here to upload your image
				    <input type="file" id="upload_field" download="happyimg.png"/>
				</label>


				<!-- Buttons  -->
				<button type="button" id="button_reset" class="btn btn-default">
					<span class="glyphicon glyphicon-remove-circle"></span>&nbsp;Reset
				</button>
				
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="button_save" data-toggle="dropdown">
				    <span class="glyphicon glyphicon-floppy-saved"></span>&nbsp;Save...
				    	<span class="caret"></span>
				  	</button>
				  	
				  	<ul class="dropdown-menu" role="menu" aria-labelledby="button_save">
				    	<li role="presentation"><a role="menuitem" tabindex="-1" href="#">Save</a></li>
					    <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Save as new</a></li>
				  	</ul>
				</div>
				
				<button type="button" id="button_download" class="btn btn-default">
					<span class="glyphicon glyphicon-download"></span>&nbsp;Download
				</button>

				<!-- End of button -->
				<canvas id="cloak"></canvas>
				<img src="{% static "images/demo2.png" %}" alt="" id="mainImg" />
				<canvas id="copy" style="display:none"></canvas>
				

			</div>
			<!-- End of image block -->

			<!-- Filters -->
			<div id="filter_controls" class="col-xs-12 col-sm-12 col-md-7">
				<div id="filters" class="col-xs-5 col-sm-5 col-md-5">
					<h3>Basic</h3>
					<div>
						<img src=" {% static "images/thumbnails/brightness.png" %}"  id="f_9" alt="Brightness" class="thumbnail"/>

						<img src=" {% static "images/thumbnails/bw.png" %}"  id="f_12" alt="Black and White" class="thumbnail"/>

						<img src=" {% static "images/thumbnails/sepia.png" %}"  id="f_2" alt="Sepia" class="thumbnail"/>

						<img src=" {% static "images/thumbnails/colorbalance.png" %}"  id="f_7" alt="Color Balance" class="thumbnail"/>

						<img src=" {% static "images/thumbnails/posterize.png" %}"  id="f_13" alt="Posterize" class="thumbnail"/>

						<img src=" {% static "images/thumbnails/negative.png" %}"  id="f_4" alt="Negative" class="thumbnail"/>
					</div>
					{% if user.is_authenticated %} 
					<h3>My Filters/Favourites</h3>
					<div>
						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>
					</div>
					{% endif %}
					<h3>Filters</h3>
					<div>
						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>

						<img src=" {% static "images/thumbnail.png" %}" alt="" class="thumbnail"/>
					</div>	
				</div>	

				<div id="controls" class="col-xs-7 col-sm-7 col-md-7">
					<h3>Controls</h3>

					<p>Choose one of the filters on the left, combine them and create the perfect effect.</p>
				</div>
			</div>

			<!-- end of filters -->

			
			
		</div>

	</body>

</html>