body{
	/*margin: auto;*/
}

header{
	width: 100%;
	height: 58px;
	margin-bottom: 15px;
	padding-left: 15px;
}

#logo {
	background-image: url("../images/camera-icon.png");
	background-repeat: no-repeat;
	width: 48px;
	height: 48px;
	margin: 5px 0px;
	padding: 0px;
	display: inline-block;
	float:left;
}

#wrapper{
	width: 90%;
	margin: auto;
}

#logo_title{
	font-size: 38px;
	line-height: 48px;
	margin: 5px;
	float:left;
	font-weight: bold;
}

#login_navigation{
	float:right;
	margin: 5px 0px;
	line-height: 48px;
}

#alert_container{
	height:42px;
	padding:0px;
	width: 100%;
	margin-bottom: 20px;
}

#image_controls{
	height: 550px;
	overflow: hidden;
}

#mainImg{
	margin-top:10px;
	width: 100%;
	float:left;
	z-index: 1;
}

#cloak,#copy{
	margin-top:10px;
	width: 100%;
	float:left;
	display: block;
	position: absolute;
	z-index: 2;
}

#copy{
	z-index: 1;
}

#filter_controls{
	height: 500px;
	border: 1px solid  #cccccc;
	float:right;
}

#filters{
	max-height: 100%;
	margin-top: 15px;
}

#filters div{
	overflow: auto;
	min-height: 90%;
}

.thumbnail{
	float:left;
	width: 45%;
	margin:5px 2%;
	cursor: pointer;
}

.slide{
	width:70% !important;
	margin: 30px 5%;
	display:inline;
	padding: 0px;
	float:left;
}

#slider span{
	display:inline-block;
	float:left;
	width:10%;
	margin:30px 0px;
	paddin:0px;
}

/* ****** Image Buttons ****** */
#button_save{

}

#button_reset{

}

#button_download{

}

#button_apply{
	float: right;
    margin: 35px 10px;
}

/* Hack for the upload field */
.fileContainer {
    overflow: hidden;
    position: absolute;
	top:200px;
	width: 100%;
	text-align: center;
	font-size: 20px;
}

.fileContainer:hover{
	color:white;
	cursor: pointer;
}

.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

/* end of hack */

/* Adjustments to Bootstrap */
.dropdown{
	display: inline;
}

.alert{
	padding:10px;
	margin-left: 15px;
}
